@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

* { scrollbar-color: theme(colors.zinc.400) transparent; }

html, body { height: 100%; }

.prose p { margin: 0.5rem 0; }
